<!-- this handles current visible status in toc-->
<script>
window.addEventListener('DOMContentLoaded', () => {
    
  let previousSection = null;
  
  const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
      const id = entry.target.getAttribute('id');
      if (entry.intersectionRatio > 0) {
        document.querySelector(`nav li a[href="#${id}"]`).parentElement.classList.add('is-visible');
        previousSection = id;
        // console.log(`previousSection set to ${previousSection}`)
      } else {
        document.querySelector(`nav li a[href="#${id}"]`).parentElement.classList.remove('is-visible');
      }
    });
    
    let firstVisibleLink = document.querySelector('.is-visible > a').getAttribute('href');
    
    // console.log(`firstVisible: ${firstVisibleLink}`)
    // console.log(`previousSection: ${previousSection}`)
  
    document.querySelectorAll('.active').forEach(elem => elem.classList.remove('active'))
  
    if (firstVisibleLink) {
      document.querySelector(`.is-visible > a[href="${firstVisibleLink}"]`).parentElement.classList.add('active')
      // console.log(`firstVisible should be active`)
    }
  
    if (!firstVisibleLink && previousSection) {
      document.querySelector(
        `a[href="#${previousSection}"]`
      ).parentElement.classList.add('active')
      // console.log(`previousSection should be active`)

    }
  });
  
  // Track all sections that have an `id` applied
  document.querySelectorAll('h1[id], h2[id], h3[id], h4[id], h5[id], h6[id]').forEach((section) => {
    observer.observe(section);
  });

});
</script>