// smooth scrolling
html {
	scroll-behavior: smooth;
}

.post-nav a {
    transition: all 100ms ease-in-out;
    text-decoration: none;
}

.post-nav ul {
    list-style: none;
}

.post-nav li > a {
    display: inline-block;
    color: $low-emph;

}

@media screen and (min-width: 1200px) {

    .main {
        display: grid;
        grid-template-columns: 70% auto;
        grid-template-rows: auto;
        grid-template-areas: "post-main post-nav";
    }

    .post-main {
        grid-area: post-main;
    }

    .post-nav {
        grid-area: post-nav;
        position: sticky;
        top: 2rem;
        align-self: start;
    }
    
    .wrapper {
        max-width: 1100px;
    }

    // only show active if large screen
    /* 3. ScrollSpy active styles (see JS tab for activation) */
    .post-nav li.active > a {
        color: $high-emph;
        font-weight: 500;
        transform: translateX(5px);
    }

}